@import "https://unpkg.com/transition-style";
/* ESCRITURA */
  .line-1 {
    position: inherit;
    border-right: 2px solid rgba(255,255,255,.75); 
    white-space: nowrap;
    overflow: hidden;
  }
  
  
  /* Animation */
  .anim-typewriter{
  animation: typewriter 4s steps(44) 4s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
  from{width: 0;}
  to{width: 13em;}
  }
  @keyframes blinkTextCursor{
  from{border-right-color: rgba(255, 255, 255, 0.75);}
  to{border-right-color: transparent;}
  }
  
  
  
  
  .line-2 {
    position: inherit;
      border-right: 2px solid rgba(255,255,255,.75);
      white-space: nowrap;
      overflow: hidden;
    }
    
    /* Animation */
    .anim-typewriter-2{
    animation: typewriter-2 4s steps(44) 8s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
    }
    @keyframes typewriter-2{
    from{width: 0;}
    to{width: 12em}
    }
    @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
    }
   