/*icono de wtp*/
#wtp {
  width: 5em;
  position: fixed;
  top: 78%;
  right: 3%;
  transform: translate(0%, 0%);
}

@media (orientation: landscape) {
  #wtp {
    width: 5em;
    position: fixed;
    top: 70%;
    right: 5%;
    transform: translate(0%, 0%);
  }
}
  /*Responsive mobile arriba de esto*/
/*tablet*/
@media screen and (min-width: 576px) and (max-width: 768px) {
  #wtp {
    width: 6em;
    position: fixed;
    top: 83%;
    right: 5%;
    transform: translate(0%, 0%);
}
  @media (orientation: landscape) {
    #wtp {
      width: 5em;
      position: fixed;
      top: 80%;
      right: 5%;
      transform: translate(0%, 0%);
    }
  }
}
/*portatil*/
@media screen and (min-width: 769px) and (max-width: 992px) {
  #wtp {
    width: 7em;
    position: fixed;
    top: 87%;
    right: 5%;
    transform: translate(0%, 0%);
}
@media (orientation: landscape) {
  
    #wtp {
      width: 6em;
      position: fixed;
      top: 80%;
      right: 5%;
      transform: translate(0%, 0%);
  
  }
}
}
/*escritorio*/
@media screen and (min-width: 993px) {
    

  #wtp {
    width: 6em;
    position: fixed;
    top: 85%;
    right: 3%;
    transform: translate(0%, 0%);
  }
}