/*variables*/
$color0:rgb(255, 255, 255);
$color1:rgb(0, 0, 0);
$color2: #7e7a7a;
$color3: linear-gradient(86deg, rgb(103 171 255 / 88%) 29%, rgb(77 147 197) 100%, rgb(0, 0, 0) 100%);
$color4:#0697ff;
$color5:rgb(255, 255, 255);
$color6:#038de9;
$color7: #20a6ff;
$color: #20a6ff;
$color9:#646464;

/*variables de atributos #003151*/
$margin_item:0em 0em 0em 0em;
$padding_item:4em 2em 2em 2em;

/*Responsive mobile arriba de esto*/
/*tablet*/
@media screen and (min-width: 576px) and (max-width: 768px) {
    
}
/*portatil*/
@media screen and (min-width: 769px) and (max-width: 992px) {
    
}
/*escritorio*/
@media screen and (min-width: 993px) {
    

    $margin_item:0em 1em 0em 1em;
    $padding_item:3em 3em 3em 3em;
}