/*variables*/
/*variables de atributos #003151*/
/*Responsive mobile arriba de esto*/
/*tablet*/
@import "https://unpkg.com/transition-style";
/*portatil*/
/*escritorio*/
/*html*/
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #7e7a7a;
  background: rgb(102, 102, 102);
}

/*Texto*/
.titulo {
  padding: 1em 0em 0em 13%;
}

h1, h2 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

p {
  font-size: 1em;
}

/* PIE DE PAGINA */
.copyright {
  text-align: right;
  color: rgb(255, 255, 255);
  margin: 1rem;
  padding: 1rem;
}

/*Responsive mobile arriba de esto*/
/*tablet*/
/*portatil*/
/*escritorio*/
@media screen and (min-width: 993px) {
  h1, h2 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: center;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.3em;
  }
  p {
    font-size: 1em;
  }
}
/*menu */
.navbar {
  position: fixed;
  top: 0%;
  left: 4%;
  right: 4%;
  height: 60px;
  background: #20a6ff;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  border-radius: 0em 0em 1em 1em;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.nav_items {
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40em;
  transform: translateX(-117%);
  transition: 0.3s ease all;
}

.nav_items a {
  text-align: center;
  margin: 1.2em;
  font-size: 1em;
  color: rgb(0, 0, 0);
  position: relative;
  text-decoration: none;
}

.nav_toggle {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.nav_toggle span {
  width: 30px;
  height: 4px;
  background: rgb(255, 255, 255);
  margin-bottom: 5px;
  transform-origin: 5px 0px;
  transition: all 0.2s linear;
}

.close span {
  transform: rotate(45deg) translate(0px, 0px);
}

.close span:nth-child(2) {
  display: none;
}

.close span:nth-child(3) {
  transform: rotate(-45deg) translate(-5px, 1px);
}

.open {
  transform: translateX(0) !important;
}

.nav_items {
  padding: 0em;
  border-radius: 0em 0em 2em 2em;
}

.nav_items a {
  margin: 1.2em 1.2em 1.2em 1.2em;
  font-size: 2em;
  color: rgb(255, 255, 255);
  position: relative;
  text-decoration: none;
}

/*telefono*/
/*tablet*/
/*portatil*/
/*escritorio*/
@media screen and (min-width: 993px) {
  .navbar {
    position: fixed;
    top: 0%;
    left: 17%;
    right: 17%;
    height: 4em;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border-radius: 0em 0em 1em 1em;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .nav_items {
    padding: 2em;
    position: relative;
    top: 0;
    left: 0;
    background-color: #20a6ff;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 0;
    transform: translateX(0%);
    transition: none;
    align-items: center;
    justify-content: center;
  }
  .nav_toggle {
    display: none;
    /* flex-direction: column;*/
    /*margin: 15px;*/
  }
  .nav_items a {
    text-align: center;
    margin: 1.2em;
    font-size: 1em;
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
  }
  .nav_items a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(86deg, rgba(103, 171, 255, 0.88) 29%, rgb(77, 147, 197) 100%, rgb(0, 0, 0) 100%);
    transition: all 0.5s;
  }
  .nav_items a:hover::before {
    width: 100% !important;
  }
}
/* ESCRITURA */
.line-1 {
  position: inherit;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 4s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 13em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
.line-2 {
  position: inherit;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
}

/* Animation */
.anim-typewriter-2 {
  animation: typewriter-2 4s steps(44) 8s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter-2 {
  from {
    width: 0;
  }
  to {
    width: 12em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
/*Contenido flex*/
.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0% 4% 0% 4%;
  margin: 0% 0% 0% 0%;
  gap: 1em;
}

/*Portada*/
.item1 {
  height: 30em;
  margin: 0em 0em 0em 0em;
  background: rgb(255, 255, 255);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 5em 0em 0em 0em;
  border-radius: 0px 0px 80px 80px;
  -moz-border-radius: 44px 44px 44px 44px;
}

.perfil {
  border-radius: 50%;
  height: 18em;
  top: 4em;
  left: 4em;
  z-index: 1;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/*  fondo perfil*/
.fondo_perfil {
  background-color: #038de9;
  text-align: center;
  border-radius: 95px 0px 95px 95px;
  -moz-border-radius: 95px 0px 0px 95px;
  -webkit-border-radius: 106px 0px 51x 95px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border: 0px solid #000000;
  padding: 1em 0em 1em 0em;
  margin: 1em;
}

/*Responsive mobile arriba de esto*/
/*tablet*/
/*portatil*/
/*escritorio*/
@media screen and (min-width: 993px) {
  .item1 {
    margin: 0em 8% 0em 8%;
    height: 20em;
    width: 74%;
    background: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 7em 0em 0em 2em;
    border-radius: 0px 0px 150px 150px;
    -moz-border-radius: 44px 44px 44px 44px;
  }
  .perfil {
    border-radius: 50%;
    height: 14em;
    top: 4em;
    left: 4em;
    z-index: 1;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }
  /*  fondo perfil*/
  .fondo_perfil {
    text-align: none;
    background-color: #038de9;
    border-radius: 95px 0px 95px 95px;
    -moz-border-radius: 95px 0px 0px 95px;
    -webkit-border-radius: 106px 0px 51x 95px;
    border: 0px solid #000000;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 1em 0em 1em 0em;
    width: 17em;
    float: left;
  }
}
.item2 {
  height: auto;
  background: rgb(255, 255, 255);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 4em 2em 2em 2em;
  border-radius: 44px 44px 44px 44px;
  -moz-border-radius: 44px 44px 44px 44px;
  margin: 0em 0em 0em 0em;
}

#boton_escritura {
  display: block;
  padding: 20px 41px;
  background: #20a6ff;
  text-align: center;
  text-decoration: none;
  margin: 2rem;
  border-radius: 1rem;
  color: rgb(255, 255, 255);
}

#boton_escritura:hover {
  background: linear-gradient(86deg, rgba(103, 171, 255, 0.88) 29%, rgb(77, 147, 197) 100%, rgb(0, 0, 0) 100%);
}

/*Responsive mobile arriba de esto*/
/*tablet*/
/*portatil*/
/*escritorio*/
@media screen and (min-width: 993px) {
  .item2 {
    width: 55%;
    height: 37em;
    background: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 3em;
    border-radius: 44px 44px 44px 44px;
    -moz-border-radius: 44px 44px 44px 44px;
    margin: 0em 0em 0em 0em;
  }
  #boton_escritura {
    display: block;
    padding: 20px 41px;
    background: #20a6ff;
    text-align: center;
    text-decoration: none;
    margin: 2rem;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
  }
  #boton_escritura:hover {
    background: linear-gradient(86deg, rgba(103, 171, 255, 0.88) 29%, rgb(77, 147, 197) 100%, rgb(0, 0, 0) 100%);
  }
}
.item3 {
  margin: 0em 0em 0em 0em;
  background: rgb(255, 255, 255);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 44px 44px 44px 44px;
  -moz-border-radius: 44px 44px 44px 44px;
  height: auto;
  text-align: center;
  padding: 4em 2em 2em 2em;
  /*float: right;*/
  border-radius: 2rem;
  background-clip: padding-box;
}

#img_lenguajes {
  width: 39%;
}

/* barra de progreso */
#barProgreso {
  width: 88%;
  margin-left: 1rem;
  padding: 1rem;
}

/* iconos de barra de progreso */
.icon-progreso {
  width: 3rem;
}

/*Responsive mobile arriba de esto*/
/*tablet*/
/*portatil*/
/*escritorio*/
@media screen and (min-width: 993px) {
  .item3 {
    width: 18%;
    margin: 0em 1em 0em 1em;
    background: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 44px 44px 44px 44px;
    -moz-border-radius: 44px 44px 44px 44px;
    height: auto;
    text-align: center;
    padding: 2em 2em 2em 2em;
    /*float: right;*/
    border-radius: 2rem;
    background-clip: padding-box;
  }
}
/*Proyecto*/
.item4 {
  color: aliceblue;
  margin: 0em 0em 0em 0em;
  background: rgb(255, 255, 255);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 4em 2em 2em 2em;
  border-radius: 44px 44px 44px 44px;
  -moz-border-radius: 44px 44px 44px 44px;
}

#intro_proyectos {
  float: left;
  background-color: #038de9;
  border-radius: 2em;
  padding: 2rem;
  margin: 0em 0em 3em 0em;
}

.imagenes_proyectos {
  width: 100%;
  margin: 1em 0em 1em 0em;
}

#proyectos {
  padding: 4em 3em 4em 3em;
  border-radius: 2em;
  background-color: #038de9;
  margin: 1em 0em 0em 0em;
}

#imagen_programador {
  width: 100%;
  /* float: left;*/
  margin: 0em 0em 2em 0em;
}

/*Responsive mobile arriba de esto*/
/*tablet*/
/*portatil*/
/*escritorio*/
@media screen and (min-width: 993px) {
  .item4 {
    width: 55%;
    background: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 3em;
    border-radius: 44px 44px 44px 44px;
    -moz-border-radius: 44px 44px 44px 44px;
    margin: -27em 0em 0em 0em;
  }
  #proyectos {
    float: left;
    background-color: #038de9;
    padding: 4em 3em 4em 3em;
    margin: 1em 0em 0em 0em;
  }
  #intro_proyectos {
    width: 19em;
    float: left;
    background-color: #038de9;
    border-radius: 2em;
    padding: 2rem;
    margin: 0em 0em 4em 0em;
  }
  .imagenes_proyectos {
    width: 100%;
  }
  #imagen_programador {
    width: 42%;
    float: left;
    margin: 0em 0em 0em 0em;
  }
}
.item5 {
  margin: 0em 0em 0em 0em;
  text-align: center;
  background: rgb(255, 255, 255);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 4em 2em 2em 2em;
  border-radius: 44px 44px 44px 44px;
  -moz-border-radius: 44px 44px 44px 44px;
  height: 26em;
}

/*Responsive mobile arriba de esto*/
/*tablet*/
/*portatil*/
/*escritorio*/
@media screen and (min-width: 993px) {
  .item5 {
    width: 18%;
    margin: 0em 0em 0em 0em;
    background: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 2em;
    border-radius: 44px 44px 44px 44px;
    -moz-border-radius: 44px 44px 44px 44px;
    height: auto;
  }
}
/*Formulario*/
.item6 {
  margin: 0em 0em 0em 0em;
  height: auto;
  background: rgb(255, 255, 255);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 4em 2em 2em 2em;
  border-radius: 44px 44px 44px 44px;
  -moz-border-radius: 44px 44px 44px 44px;
  margin: 0em 0em 0em 0em;
}

.contact_form input {
  border-color: #7e7a7a;
  width: 96%;
  font-size: 1em;
  height: 4rem;
  border-radius: 0.5rem;
  margin: 0rem;
  margin-top: 1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

/*Mensaje de envio*/
.contact_form textarea {
  border-color: #7e7a7a;
  width: 88%;
  height: 15rem;
  border-radius: 0.5rem;
  font-size: 1.5em;
  padding: 1em 1em 1em 1em;
  margin-top: 1rem;
}

.contact_form label {
  margin-left: 0rem;
  float: center;
}

.contact_form span {
  margin-left: 0.2rem;
  color: #ed1c1c;
}

.formulario h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #7e7a7a;
}

#enviar {
  display: block;
  border: none;
  width: 100%;
  padding: 20px 41px;
  background: #20a6ff;
  text-align: center;
  text-decoration: none;
  margin: 2em 0em 0em 0em;
  border-radius: 1rem;
  color: rgb(255, 255, 255);
}

#enviar:hover {
  background: linear-gradient(86deg, rgba(103, 171, 255, 0.88) 29%, rgb(77, 147, 197) 100%, rgb(0, 0, 0) 100%);
}

/*Responsive mobile arriba de esto*/
/*tablet*/
/*portatil*/
/*escritorio*/
@media screen and (min-width: 993px) {
  .item6 {
    width: 55%;
    height: 70em;
    background: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 3em;
    border-radius: 44px 44px 44px 44px;
    -moz-border-radius: 44px 44px 44px 44px;
    margin: 2em 0em 0em 0em;
  }
  .contact_form input {
    width: 100%;
    font-size: 1em;
    height: 4rem;
    border-radius: 0.5rem;
    margin: 0rem;
    margin-top: 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
  .contact_form textarea {
    width: 95%;
    height: 23rem;
    border-radius: 0.5rem;
    padding: 1em 1em 1em 1em;
    font-size: 1.5em;
    margin-top: 1rem;
  }
  .contact_form span {
    margin: 0em 0em 0em 0em;
  }
  .contact_form h1 {
    font-size: 3.9rem;
    text-align: center;
    padding-bottom: 2rem;
    color: #7e7a7a;
  }
  /*----------Mensaje de envio-----------*/
  .formulario h1 {
    font-size: 35px;
    display: block;
    text-align: center;
    margin-bottom: 2rem;
  }
  .formulario #enviar:hover {
    background: linear-gradient(86deg, rgba(103, 171, 255, 0.88) 29%, rgb(77, 147, 197) 100%, rgb(0, 0, 0) 100%);
  }
  .contact_form {
    width: 90%;
    float: left;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
  }
  .contact_form label {
    margin-left: 0rem;
    float: center;
  }
  #enviar {
    display: block;
    border: none;
    width: 100%;
    padding: 20px 41px;
    background: #20a6ff;
    text-align: center;
    text-decoration: none;
    margin: 2em 0em 0em 0em;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
  }
  #enviar:hover {
    background: linear-gradient(86deg, rgba(103, 171, 255, 0.88) 29%, rgb(77, 147, 197) 100%, rgb(0, 0, 0) 100%);
  }
}
/*Responsive mobile arriba de esto*/
/*tablet*/
/*portatil*/
/*escritorio*/
@media screen and (min-width: 993px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    gap: 1em;
  }
}
/*icono de wtp*/
#wtp {
  width: 5em;
  position: fixed;
  top: 78%;
  right: 3%;
  transform: translate(0%, 0%);
}

@media (orientation: landscape) {
  #wtp {
    width: 5em;
    position: fixed;
    top: 70%;
    right: 5%;
    transform: translate(0%, 0%);
  }
}
/*Responsive mobile arriba de esto*/
/*tablet*/
@media screen and (min-width: 576px) and (max-width: 768px) {
  #wtp {
    width: 6em;
    position: fixed;
    top: 83%;
    right: 5%;
    transform: translate(0%, 0%);
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) and (orientation: landscape) {
  #wtp {
    width: 5em;
    position: fixed;
    top: 80%;
    right: 5%;
    transform: translate(0%, 0%);
  }
}
/*portatil*/
@media screen and (min-width: 769px) and (max-width: 992px) {
  #wtp {
    width: 7em;
    position: fixed;
    top: 87%;
    right: 5%;
    transform: translate(0%, 0%);
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) and (orientation: landscape) {
  #wtp {
    width: 6em;
    position: fixed;
    top: 80%;
    right: 5%;
    transform: translate(0%, 0%);
  }
}
/*escritorio*/
@media screen and (min-width: 993px) {
  #wtp {
    width: 6em;
    position: fixed;
    top: 85%;
    right: 3%;
    transform: translate(0%, 0%);
  }
}/*# sourceMappingURL=estilos.css.map */