//Colores //
$colorPrimario:rgb(255, 255, 255);
$colorSecundario:rgb(4, 201, 37);
$colorhover: #33a000;

$colorTercero:rgb(5, 46, 11);
$colorCuarto:rgb(231, 184, 113);
$colorQuinto:rgb(119, 24, 7);
$colorSexto:rgb(10 10 18 / 94%);
$colorSeptimo: rgba(0, 0, 0, 0.75);

$fuente:Arial;


*{
     
    padding: 0;
    margin: 0;
    
}
body {
    font-family: $fuente;
    color: $colorPrimario;
    background: linear-gradient(90deg, rgb(53, 63, 49) 0%, rgb(55 163 41) 54%, rgba(0,0,0,1) 100%);
}
body{
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
}

//icono de WhatsApp

#wtp {
  width: 6em;
  position: fixed;
  top: 80%;
  right: 5%;
  transform: translate(0%, 0%);
}

//MENU 
.navbar {
  position: fixed;
  top: 0%;
  left: 17%;
  right: 17%;
  background: rgb(11 27 20 / 89%);
  height: 5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0em 0em 1em 1em;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.nav_items{
    padding: 3em;
}
.nav_items a{
    margin: 1.2em;
    font-size: 1em;
    color: $colorPrimario;
    position: relative;
    text-decoration: none;
}
.nav_items a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: $colorSecundario;
    transition: all 0.5s;
}
.nav_items a:hover::before{
    width: 100% !important;
}
.nav_toggle{
    display: none;
}


// MENU FIN 
 //FLEX Contenido
 .flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0em 0em 0em 0em;
  gap: 1em;
  justify-content: center;
}
//foto de perfil
.item1 {
  height: 23em;
  margin-top: 0em;
  width: 74%;
  background: rgba(10, 10, 18, 0.94);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 10em 0em 0em 2em;
  border-radius: 0px 0px 150px 150px;
  -moz-border-radius: 44px 44px 44px 44px;
}
//sobre mi
.item2 {
  width: 60%;
  height: 34em;
  background: #091a09;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 3em;
  border-radius: 44px 44px 44px 44px;
  -moz-border-radius: 44px 44px 44px 44px;
  margin: 0em 0em 0em 0em;
}

 //proyecto item4
.item4 {
  width: 60%;
  background: rgb(4, 34, 7);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 3em;
  border-radius: 44px 44px 44px 44px;
  -moz-border-radius: 44px 44px 44px 44px;
  margin: -36em 0em 0em 0em;
}

#imagen_programador {
  width: 45%;
  float: left;
  margin: 0em 4% 2em 0em;
}
.imagenes_proyectos {
  width: 100%;
  height: 30em;
  margin: 1em 0em 2em 0em;
}
#intro_proyectos {
  width: 19em;
  float: left;
  background-color: rgb(4, 201, 37);
  border-radius: 2em;
  padding: 2rem;
  margin: 0em 0em 4em 0em;
}
#proyectos {
  float: left;
  background-color: rgb(51 135 45);
  border-radius: 2em;
  padding: 2rem;
  margin: 0em 0em 3em 0em;
}

//item5 habilidades
    .item5  {
        width: 18%;
        background: rgb(4, 34, 7);
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        padding: 2em;
        border-radius: 44px 44px 44px 44px;
        -moz-border-radius: 44px 44px 44px 44px;
        height: 26em;
      }
    
   //Item3 lenguajes
   #img_lenguajes {
    width: 39%;
    margin-left: 4rem;
}
   .item3 {
    width: 18%;
    background: rgb(4, 34, 7);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  
    border-radius: 44px 44px 44px 44px;
    -moz-border-radius: 44px 44px 44px 44px;
    height: auto;

  
    padding: 2em 2em 2em 2em;
    float: right;
    border-radius: 2rem;
    background-clip: padding-box;
    
  }
  
  /* barra de progreso */
  #barProgreso {
    width: 88%;
    margin-left: 1rem;
    padding: 1rem;
}
  
  /* iconos de barra de progreso */
  .icon-progreso {
    width: 3rem;
  }   
  
  
#boton_escritura {
  display: block;
  padding: 20px 41px;
  background: $colorSecundario;
  text-align: center;
  text-decoration: none;
  margin: 2rem;
  border-radius: 1rem;
  color: $colorPrimario;
}
#boton_escritura:hover{
  background: $colorhover;
}
  
  .perfil {
    border-radius: 50%;
    height: 14em;
    top: 4em;
    left: 4em;
   // transform: translate(13%, -7%);
    z-index: 1;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}


  /*  fondo perfil*/
  .fondo_perfil {
    background-color: #b19b6b;
    border-radius: 95px 0px 95px 95px;
    -moz-border-radius: 95px 0px 0px 95px;
    -webkit-border-radius: 106px 0px 51x 95px;
    border: 0px solid #000000;
    padding: 1em 0em 1em 2em;
    width: 17em;
    float: left;
}

//FORMULARIO item6
.item6 {
  width: 55%;
  height: 64em;
  background: rgb(4, 34, 7);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 3em;
  border-radius: 44px 44px 44px 44px;
  -moz-border-radius: 44px 44px 44px 44px;
  margin: 2em 0em 0em 0em;
}
 
.contact_form input {
  background-color: #fbfbfb;
  width: 100%;
  height: 3em;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #1af54a;
  margin: 0rem;
  margin-top: 1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
  
.contact_form textarea {
  background-color: #fbfbfb;
  width: 100%;
  height: 23rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: #1af54a;
  /* margin: 2rem; */
  padding-left: 1rem;
  padding-top: 1.5rem;
  margin-top: 1rem;
}
.contact_form label {
  margin-left: 0rem;
  float: center;
}
  
  
.contact_form button {
  height: 4.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  /* margin-left: 2rem; */
  text-transform: uppercase;
  background-color: #5bce20;
  color: #fff;
  border-style: solid;
  border-radius: 1rem;
  width: 100%;
  cursor: pointer;
}
  
  
  .contact_form button p{
    color: #fff; 
  }
  
  
  .contact_form span{ 
    margin-left: 2rem;
    color: #faf603; 
  }
  
 
  .contact_form h1{
    font-size: 3.9rem;  
    text-align: center; 
    padding-bottom: 2rem; 
    color: #868686;
  }
  
 

/*----------Mensaje de envio-----------*/ 

.formulario h1 {
        font-size: 35px;
        display: block;
        text-align: center;
        margin-bottom: 2rem;
}
.formulario a {
    display: block;
    padding: 10px 30px;
    background: #39d7ff;
    text-decoration: none;
    margin-top: 3rem;
    border-radius: 0.5rem;
    color: #FFF;
}
.formulario #enviar:hover {
    background: #33a000;
    
    
}


  .contact_form {
    width: 100%;
    height: 92rem;
    float: left;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-clip: padding-box;
  }
    
  .contact_form input {
    background-color: #fbfbfb;
    width: 100%;
    height: 6rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #1af54a;
    margin: 0rem;
    margin-top: 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
    
  .contact_form textarea {
    background-color: #fbfbfb;
    width: 100%;
    height: 23rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: #1af54a;
    /* margin: 2rem; */
    padding-left: 1rem;
    padding-top: 1.5rem;
    margin-top: 1rem;
  }
  .contact_form label {
    margin-left: 0rem;
    float: center;
  }
    

  /* PIE DE PAGINA */
.copyright {
  text-align: right;
  margin: 1rem;
  padding: 1rem;
}




//Texto 
.titulo {
  padding: 15px;
  float: left;
}
h1 ,h2 {
  color: $colorPrimario;
  font-size: 2rem;
  text-align: center;
}
h3 {
  
  font-size: 2em;
}
 h4{
 
  font-size: 1.3em;
}
   p { 
    font-size: 1em;
    
  
  }
  
  
  
			























  

/* ESCRITURA */
.line-1 {
  position: inherit;
  border-right: 2px solid rgba(255,255,255,.75); 
  white-space: nowrap;
  overflow: hidden;
}


/* Animation */
.anim-typewriter{
animation: typewriter 4s steps(44) 4s 1 normal both,
           blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 13em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}




.line-2 {
  position: inherit;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
  }
  
  /* Animation */
  .anim-typewriter-2{
  animation: typewriter-2 4s steps(44) 8s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter-2{
  from{width: 0;}
  to{width: 12em}
  }
  @keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
  }
  
//Responsive
  @media screen and (max-width: 650px)
  {
      .navbar {
        top: 0%;
        left: 4%;
        right: 4%;
        height: 60px;
        display: flex;
        border-radius: 0em 0em 1em 1em;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        align-content: flex-start;
        justify-content: flex-start;
    }
    .nav_items {
      position: absolute;
      top: 60px;
      left: 0;
      background: rgb(11 27 20 / 89%);
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 40em;
      transform: translateX(-117%);
      transition: 0.3s ease all;
    }
        .nav_items a{ text-align: center;}
        .nav_toggle{
            display: flex !important;
            flex-direction: column;                
            margin: 15px;
        }
        .nav_toggle span{
            width: 30px;
            height: 4px;
            background: $colorPrimario;
            margin-bottom: 5px;
                   
            transform-origin: 5px 0px;
            transition: all 0.2s linear;
        }
        .close span{
            transform: rotate(45deg) translate(0px, 0px);
        }
        .close span:nth-child(2){
            display: none;
        }
        .close span:nth-child(3){
            transform: rotate(-45deg) translate(-5px, 1px);
        }
        .open{ transform: translateX(0) !important}

        .nav_items {
          padding: 0em; 
          border-radius: 0em 0em 2em 2em;
      }
    .nav_items a{
    margin: 1.2em;
    font-size: 2em;
    color: $colorPrimario;
    position: relative;
    text-decoration: none;
}

    .item1 {
      height: 29em;
      margin-top: 0em;
      width: 74%;
      background: rgba(10, 10, 18, 0.94);
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      padding: 10em 0em 0em 2em;
      border-radius: 0px 0px 150px 150px;
      -moz-border-radius: 44px 44px 44px 44px;
  }
  .item2 {
    width: 60%;
    height: 45em;
    background: #091a09;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 4em 3em 3em 3em;
    border-radius: 44px 44px 44px 44px;
    -moz-border-radius: 44px 44px 44px 44px;
    margin: 0em 0em 0em 0em;
}

  .item3 {
    width: 65%;
    background: rgb(4, 34, 7);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 44px 44px 44px 44px;
    -moz-border-radius: 44px 44px 44px 44px;
    height: auto;
    padding: 2em 2em 2em 2em;
    float: right;
    border-radius: 2rem;
    background-clip: padding-box;
}
.item5 {
  width: 65%;
  background: rgb(4, 34, 7);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 2em;
  border-radius: 44px 44px 44px 44px;
  -moz-border-radius: 44px 44px 44px 44px;
  height: 26em;
}
#proyectos {
  float: left;
  background-color: rgb(51, 135, 45);
  border-radius: 2em;
  padding: 4em 3em 3em 3em;
  margin: 0em -2em 2em -2em;
}
     
.imagenes_proyectos {
  width: 100%;
  height: 30em;
  border-radius: 33px 33px 33px 33px;
  -moz-border-radius: 33px 33px 33px 33px;
  -webkit-border-radius: 33px 33px 33px 33px;
  //border: 6px solid $colorTercero;
  margin: 1em 0em 2em 0em;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 1em 1em 1em 1em;
  -moz-border-radius: 44px 44px 44px 44px;
}

.item6 {
  width: 79%;
  height: 80em;
  background: rgb(4, 34, 7);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0em;
  border-radius: 44px 44px 44px 44px;
  -moz-border-radius: 44px 44px 44px 44px;
  margin: 1em 0em 0em 0em;
}

.contact_form {
  width: 77%;
  height: 2rem;
  float: left;
}

  }


