/*Proyecto*/

.item4 {
  margin: $margin_item;
  background:$color5;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: $padding_item;
  border-radius: 44px 44px 44px 44px;
  -moz-border-radius: 44px 44px 44px 44px;

}

  #intro_proyectos {
    
    float: left;
    background-color:$color8;
    border-radius: 2em;
    padding: 2rem;
    margin: 0em 0em 3em 0em;
  }
  .imagenes_proyectos {
    width: 100%;
    margin: 1em 0em 1em 0em;
 
  }
  #proyectos{
    padding: 3em 0em 0em 0em;
    border-radius: 2em;
  }
  #imagen_programador {
    width: 100%;
   /* float: left;*/
    margin: 0em 0em 2em 0em;
}

  /*Responsive mobile arriba de esto*/
/*tablet*/
@media screen and (min-width: 576px) and (max-width: 768px) {
    
}
/*portatil*/
@media screen and (min-width: 769px) and (max-width: 992px) {
    
}
/*escritorio*/
@media screen and (min-width: 993px) {
    

  .item4 {
    width: 55%;
    background:$color5;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 3em;
    border-radius: 44px 44px 44px 44px;
    -moz-border-radius: 44px 44px 44px 44px;
    margin: -30em 0em 0em 0em;
  }
    #proyectos {
      float: left;
      background-color: $color8;
      padding: $padding_item;
      margin: 1em 0em 0em 0em;
    }

 
    #intro_proyectos {
      width: 19em;
      float: left;
      background-color: $color8;
      border-radius: 2em;
      padding: 2rem;
      margin: 0em 0em 4em 0em;
    }
    .imagenes_proyectos {
      width: 100%;
     
;
    }
    #imagen_programador {
      width: 42%;
      float: left;
      margin: 0em 0em 0em 0em;
    }
}