/*Formulario*/
.item6 {

  margin: $margin_item;
  height: auto;
  background: $color5;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: $padding_item;
  border-radius: 44px 44px 44px 44px;
  -moz-border-radius: 44px 44px 44px 44px;
  margin: $margin_item;
}


.contact_form input {
  border-color: $color2;
  width: 96%;
  font-size: 1em;
  height: 4rem;
  border-radius: 0.5rem;
  margin: 0rem;
  margin-top: 1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
/*Mensaje de envio*/
.contact_form textarea {
  border-color: $color2;
  width: 88%;
  height: 15rem;
  border-radius: 0.5rem;
  font-size: 1.5em;
  padding: 1em 1em 1em 1em;
  margin-top: 1rem;
}

.contact_form label {
  margin-left: 0rem;
  float: center;
}



.contact_form span {
  margin-left: 0.2rem;
  color: #ed1c1c;
}



.formulario h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: $color2;
}


#enviar {
  display: block;
  border: none;
  width: 100%;
  padding: 20px 41px;
  background:$color7;
  text-align: center;
  text-decoration: none;
  margin: 2em 0em 0em 0em;
  border-radius: 1rem;
  color: rgb(255, 255, 255);
}

#enviar:hover {
  background: $color3;
}
  /*Responsive mobile arriba de esto*/
/*tablet*/
@media screen and (min-width: 576px) and (max-width: 768px) {
    
}
/*portatil*/
@media screen and (min-width: 769px) and (max-width: 992px) {
    
}
/*escritorio*/
@media screen and (min-width: 993px) {
    

  .item6 {
    
    width: 55%;
    height: 70em;
    background: $color5;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 3em;
    border-radius: 44px 44px 44px 44px;
    -moz-border-radius: 44px 44px 44px 44px;
    margin: 2em 0em 0em 0em;
  }
  
  .contact_form input {
    width: 100%;
    font-size: 1em;
    height: 4rem;
    border-radius: 0.5rem;
    margin: 0rem;
    margin-top: 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
  
  .contact_form textarea {
    width: 95%;
    height: 23rem;
    border-radius: 0.5rem;
    padding: 1em 1em 1em 1em;
    font-size: 1.5em;
    margin-top: 1rem;
  }
  
  .contact_form span {
    margin: 0em 0em 0em 0em;
   
  }
  
  .contact_form h1 {
    font-size: 3.9rem;
    text-align: center;
    padding-bottom: 2rem;
    color: $color2;
  
  }
  
  /*----------Mensaje de envio-----------*/
  .formulario h1 {
    font-size: 35px;
    display: block;
    text-align: center;
    margin-bottom: 2rem;
  }
  
 
  
  .formulario #enviar:hover {
    background: $color3;
  }
  
  .contact_form {
    width: 90%;
    float: left;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
  }
  
  
  
  .contact_form label {
    margin-left: 0rem;
    float: center;
  }
  
  #enviar {
    display: block;
    border: none;
    width: 100%;
    padding: 20px 41px;
    background: $color7;
    text-align: center;
    text-decoration: none;
    margin: 2em 0em 0em 0em;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
}
  #enviar:hover {
    background: $color3;
  }
}